<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Mappers.ProductMapper">

	<select id="getProductByCategory" parameterType="int"
		resultType="productListVO">
		SELECT product_ID, product_name, product_price, color, size, product_subTitle,
			bPopularity, img_path, category
		FROM product_tb
		WHERE category = #{nCategory}
	</select>

	<select id="getProductByID" parameterType="int" resultType="productVO">
		SELECT product_ID, product_name, product_subTitle, product_price, product_discount,
			color, size, quantity, IMG_PATH, delivery_price
		FROM product_tb
		WHERE product_ID = #{nProductID}
	</select>
	
	<select id="getProductAll" resultType ="productListVO">
		SELECT product_ID, product_name, product_price, color, size, product_subTitle,
			bPopularity, img_path, category
		FROM product_tb
	</select>
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 